<ion-view view-title="Alertas">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">

        <div class="item card-item">
            <div class="card ink ink-dark" style="background-color:#FFCFCC">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/danger.png');">
                    </span>
                    <strong style="font-size:1.1em;"> Recordatorio de pago de pensión </strong>
                    <div class="text-left">
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> &nbsp;
                            <small> Lunes, 3 de Julio de 2017 </small>
                        </div>
                    </div>
                    <br><br>
                    <div>
                        <p>
                        Estimado padre de familia,
                        </p>
                        <p>
                        Se le recuerda que debe realizar el pago oportuno de las pensiones de su representado para evitar inconvenientes en la semana de evaluaciones.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--
        <div class="item card-item">
            <div class="card ink ink-dark" style="background-color:#CCE6FF">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/info.png');">
                    </span>
                    <strong style="font-size:1.1em;"> Campaña de vacunación contra la influenza </strong>
                    <div class="text-left">
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 
                            <small> Viernes, 30 de Junio de 2017 </small>
                        </div>
                    </div>
                    <br><br>
                    <div>
                        <p>
                        Estimado padre de familia, 
                        </p>
                        <p>
                        Se le comunica que por orden del Ministerio de Salud Pública del Ecuador, la semana del 10 al 14 de Julio, se realizará la campaña de vacunación contra la influenza. Esperamos contar con su valiosa participación
                        </p>
                    </div>
                </div>
            </div>
        </div>
        -->

        <div class="item card-item">
            <div class="card ink ink-dark" style="background-color:#FFCFCC">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/danger.png');">
                    </span>
                    <strong style="font-size:1.1em;"> Sanción disciplinaria </strong>
                    <div class="text-left">
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 
                            <small>Martes, 13 de Junio de 2017</small>
                        </div>
                    </div>
                    <br><br>
                    <div>
                        <p>
                        Estimado padre de familia,
                        </p>
                        <p>
                        El día de hoy, su represantaco cometió una falta grave hacia el reglamento de la institución. Por este motivo le pedimos se acerque el día de <strong>mañana</strong> al rectorado para tener una reunión y tratar acerca de este hecho. De lo contario, su representado <strong>no podrá ingresar</strong> al plantel.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
