<ion-view view-title="Reuniones">
    <ion-content ng-class="{expanded:isExpanded}">

	    <div class="container" style="padding-top: 30px;">
	      <p class="text-center">
	      	Toque un día para agendar una reunión
	      </p>
	      <!-- Responsive calendar - START -->
	    	<div class="responsive-calendar">
	        <div class="controls">
	            <a class="pull-left" data-go="prev"><div class="btn btn-primary">Ant</div></a>
	            <h4><span data-head-year></span> <span data-head-month></span></h4>
	            <a class="pull-right" data-go="next"><div class="btn btn-primary">Sig</div></a>
	        </div><hr/>
	        <div class="day-headers">
	          <div class="day header">Lun</div>
	          <div class="day header">Mar</div>
	          <div class="day header">Mue</div>
	          <div class="day header">Jue</div>
	          <div class="day header">Vie</div>
	          <div class="day header">Sab</div>
	          <div class="day header">Dom</div>
	        </div>
	        <div class="days" data-group="days">
	          
	        </div>
	      </div>
	      <!-- Responsive calendar - END -->
	    </div>

	    <script type="text/javascript">
	      $(document).ready(function () {
	      	/*
				"2017-07-30": {"number": 5, "url": "http://w3widgets.com/responsive-slider"},
	      	*/
	        $(".responsive-calendar").responsiveCalendar({
	          	translateMonths: ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"], 
	          	time: '2017-07',
	          	events: {
	            	"2017-07-30": { "number": 2 },
	            	"2017-07-26": { "number": 1 }, 
	            	"2017-07-03": { "number": 3 }, 
	            	"2017-07-30": { "number": 4 },
	          	}
	        });
	      });
	    </script>

    </ion-content>
</ion-view>
