<ion-view view-title="Eventos">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">

        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/clockIcon.png');">
                        <p style="margin-top:60px; padding-left:6px;"> 09H00 </p>
                    </span>
                    <strong style="font-size:1.1em;"> Evento por fiestas Julianas </strong>
                    <div class="text-left">
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 
                            <small>Lunes, 24 de Julio de 2017</small>
                        </div>
                    </div>
                    <br><br>
                    <div>
                        <p>
                        Lorem ipsum dolor sit amet. Nam pharetra ipsum et eleifend volutpat. Proin ultrices rutrum sapien, id feugiat arcu vestibulum pretium. Sed cursus nisl massa, ut porta ipsum sagittis sit amet.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/clockIcon.png');">
                        <p style="margin-top:60px; padding-left:6px;"> 14H30 </p>
                    </span>
                    <strong style="font-size:1.1em;"> Reunión para coordinar programa escolar </strong>
                    <div class="text-left">
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 
                            <small>Sábado, 22 de Julio de 2017</small>
                        </div>
                    </div>
                    <br><br>
                    <div>
                        <p>
                        Lorem ipsum dolor sit amet. Nam pharetra ipsum et eleifend volutpat. Proin ultrices rutrum sapien, ut porta ipsum sagittis sit amet.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/clockIcon.png');">
                        <p style="margin-top:60px; padding-left:6px;"> 08H00 </p>
                    </span>
                    <strong style="font-size:1.1em;"> Minga de limpieza </strong>
                    <div class="text-left">
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 
                            <small>Domingo, 17 de Julio de 2017</small>
                        </div>
                    </div>
                    <br><br>
                    <div>
                        <p>
                        Lorem ipsum dolor sit amet. Nam pharetra ipsum et eleifend volutpat. Proin ultrices rutrum sapien, id feugiat arcu vestibulum pretium. Sed cursus nisl massa.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
