<ion-view view-title="Login" align-title="left">
    <ion-content>
        
        <!-- Logo -->        
        <div id="content-login" class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
            </div>
        </div>
        
        <!-- Formulario -->
        <div class="list" style="padding-left:60px; padding-right:60px; position:relative; top:-40px; margin-bottom:0px;">
            <label class="item item-input item-floating-label">
                <span style="color: #EB5E28;" class="input-label">Usuario: </span>
                <input type="text" placeholder="Usuario" ng-model="loginData.loginUser">
            </label>
            <label class="item item-input item-floating-label">
                <span style="color: #EB5E28;" class="input-label">Contraseña: </span>
                <input type="{{typeInput}}" placeholder="Contraseña" ng-model="loginData.loginPassword">
            </label>
            <ion-checkbox class="checkbox-smn" ng-model="myCheck" type="checkbox" name="type" ng-change="changeType()" style="padding-left:20%;">
                <small>Mostrar/Ocultar contraseña</small>
            </ion-checkbox>
        </div>
        
        <!-- Submit -->
        <div style="padding-left:60px; padding-right:60px; position:relative; top:-10px;">
            <button ng-click="login()" 
                    class="button button-full ink" 
                    style="background-color: #f2aa00!important; color: #fff;">
                    Ingresar
            </button>
        </div>

    </ion-content>
</ion-view>
