<ion-view view-title="Tareas">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content" style="padding-top:20px;">

            <div ng-if="listaTareas && listaTareas.length>0" style="padding-left:15px; padding-right:10px;"> 
                <span>Nombre de la tarea</span> 
                <span class="pull-right">Estado</span> 
            </div>

            <div class="list animate-fade-slide-in-right">
                
                <a href="#/child/tareas/001" class="item item-icon-right">
                    <h2> Investigación sobre célula vegetal </h2>
                    <p> Ciencias Naturales </p>
                    <i class="icon ion-alert-circled" style="color:orange"></i>
                </a>
                <a href="#/child/tareas/002" class="item item-icon-right">
                    <h2> Escribir ensayo sobre el 24 de Julio </h2>
                    <p> Lenguaje y comunicación </p>
                    <i class="icon ion-checkmark-circled" style="color:green"></i>
                </a>
                <a href="#/child/tareas/003" class="item item-icon-right">
                    <h2> Miscelánea de ejercicios </h2>
                    <p> Matemáticas </p>
                    <i class="icon ion-close-circled" style="color:red"></i>
                </a>
                <a href="#/child/tareas/004" class="item item-icon-right">
                    <h2> Investigación sobre mitosis </h2>
                    <p> Ciencias Naturales </p>
                    <i class="icon ion-checkmark-circled" style="color:green"></i>
                </a>
                <a href="#/child/tareas/005" class="item item-icon-right">
                    <h2> Ejercicios página 50 </h2>
                    <p> Matemáticas </p>
                    <i class="icon ion-checkmark-circled" style="color:green"></i>
                </a>
                <a href="#/child/tareas/006" class="item item-icon-right">
                    <h2> Llevar diccionario </h2>
                    <p> Lenguaje y comunicación </p>
                    <i class="icon ion-checkmark-circled" style="color:green"></i>
                </a>
                
                <!--
                <a ng-repeat="tarea in listaTareas" class="item item-icon-right" href="#/child/tareas/{{item._id}}">
                    <h2> {{tarea.titulo}} </h2>
                    <p> {{tarea.materia}} </p>
                    <div ng-if="tarea.estado=='No enviada' ">
                        <i class="icon ion-close-circled" style="color:red"></i>
                    </div>
                    <div ng-if="tarea.estado=='Pendiente' ">
                        <i class="icon ion-alert-circled" style="color:orange"></i>
                    </div>
                    <div ng-if="tarea.estado=='Enviada' ">
                        <i class="icon ion-checkmark-circled" style="color:green"></i>
                    </div>
                </a>
                -->

            </div>

            <div ng-if="!listaTareas || listaTareas.length<1" >
                <h4> No hay tareas que mostrar </h4>
            </div>

        </div>
    </ion-content>
</ion-view>
