<ion-view view-title="Centros" ng-init="init()">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content" style="padding:5% 5% 5% 5%;">

            <div class="list">
              <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <h3 class="dark" style="font-weight:bold; font-size:1.2em;">Datos del centro</h3>
              </div>

              <div class="item" style="padding:3% 1%;">
                <div class="text-center">
                  <h3 style="font-weight:bold; font-size:1.2em;"> Dirección </h3>
                  <h3 class="dark" style="font-size:1.2em;" ng-bind="centro.direccion"></h3>
                </div>
              </div>

              <div class="item" style="padding:3% 1%;">
                <div class="text-center">
                  <h3 style="font-weight:bold; font-size:1.2em;"> Teléfono </h3>
                  <h3 class="dark" style="font-size:1.2em;" ng-bind="centro.telefono"></h3>
                </div>
              </div>

              <div class="item" style="padding:3% 1%;">
                <div class="text-center">
                  <h3 style="font-weight:bold; font-size:1.2em;">Horarios de atención</h3>
                  <h3 class="dark" style="font-size:1.2em;" ng-bind="centro.horariosAtencion"></h3>
                </div>
              </div>

              <div class="item" style="padding:3% 1%;">
                <div class="text-center">
                  <h3 style="font-weight:bold; font-size:1.2em;">Servicios</h3>
                  <h3 class="dark line-clamp" style="font-size:1.2em;" ng-bind="centro.servicios"></h3>
                </div>
              </div>

              <hr style="margin:10px 30px;">

              <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <h3 class="dark" style="font-weight:bold; font-size:1.2em;">Datos de la nutricionista</h3>
              </div>

              <div class="item" style="padding:3% 1%;">
                <div class="text-center">
                  <h3 style="font-weight:bold; font-size:1.2em;">Nombres y apellidos</h3>
                  <h3 class="dark" style="font-size:1.2em;" ng-bind="centro.nutricionista.nombres + ' ' + centro.nutricionista.apellidos"></h3>
                </div>
              </div>

              <div class="item" style="padding:3% 1%;">
                <div class="text-center">
                  <h3 style="font-weight:bold; font-size:1.2em;">Estudios</h3>
                  <h3 class="dark" style="font-size:1.2em;" ng-bind="centro.nutricionista.estudios"></h3>
                </div>
              </div>

              <div class="item" style="padding:3% 1%;">
                <div class="text-center">
                  <h3 style="font-weight:bold; font-size:1.2em;">Especializaciones</h3>
                  <h3 class="dark" style="font-size:1.2em;" ng-bind="centro.nutricionista.especializaciones"></h3>
                </div>
              </div>
            </div>

        </div>
    </ion-content>
</ion-view>
