<ion-view view-title="Datos del perfil" ng-init="getDatosPaciente()">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content" style="padding:5% 5% 10% 5%;">

            <div class="list" style="">
              <label class="item item-input item-stacked-label">
                <i class="ion-chevron-right" style="color:#EB5E28;"></i> &nbsp;
                <h3 class="input-label" style="font-weight:bold; font-size:1.2em;">Cédula*</h3>
                <input type="text" ng-model="paciente.cedula" placeholder="Cédula" style="padding-left:6%;">
              </label>

              <label class="item item-input item-stacked-label">
                <i class="ion-chevron-right" style="color:#EB5E28;"></i> &nbsp;
                <h3 class="input-label" style="font-weight:bold; font-size:1.2em;">Nombres*</h3>
                <input type="text" ng-model="paciente.nombres" placeholder="Nombres" style="padding-left:6%;">
              </label>

              <label class="item item-input item-stacked-label">
                <i class="ion-chevron-right" style="color:#EB5E28;"></i> &nbsp;
                <h3 class="input-label" style="font-weight:bold; font-size:1.2em;">Apellidos*</h3>
                <input type="text" ng-model="paciente.apellidos" placeholder="Apellidos" style="padding-left:6%;">
              </label>

              <label class="item item-input item-select" style="margin-top:3%; margin-bottom:3%;">
                <i class="ion-chevron-right" style="color:#EB5E28;"></i> &nbsp;&nbsp;&nbsp;
                <h3 class="input-label" style="font-weight:bold; font-size:1.2em;">Sexo*</h3>
                <select ng-model="paciente.sexo">
                  <option value="Masculino"> Masculino </option>
                  <option value="Femenino"> Femenino </option>
                </select>
              </label>

              <label class="item item-input item-stacked-label">
                <i class="ion-chevron-right" style="color:#EB5E28;"></i> &nbsp;
                <h3 class="input-label" style="font-weight:bold; font-size:1.2em;">Nacimiento*</h3>
                <input type="date" ng-model="paciente.fechaNacimiento" style="padding-left:6%;">
              </label>

              <label class="item item-input item-stacked-label">
                <i class="ion-chevron-right" style="color:#EB5E28;"></i> &nbsp;
                <h3 class="input-label" style="font-weight:bold; font-size:1.2em;">Celular*</h3>
                <input type="text" ng-model="paciente.celular" placeholder="Celular" style="padding-left:6%;">
              </label>

              <label class="item item-input item-stacked-label">
                <i class="ion-chevron-right" style="color:#EB5E28;"></i> &nbsp;
                <h3 class="input-label" style="font-weight:bold; font-size:1.2em;">Email*</h3>
                <input type="email" ng-model="paciente.email" placeholder="Email" style="padding-left:6%;">
              </label>

              <label class="item item-input item-stacked-label">
                <i class="ion-chevron-right" style="color:#EB5E28;"></i> &nbsp;
                <h3 class="input-label" style="font-weight:bold; font-size:1.2em;">Dirección</h3>
                <input type="text" ng-model="paciente.direccion" placeholder="Dirección" style="padding-left:6%;">
              </label>

              <label class="item item-input item-stacked-label">
                <i class="ion-chevron-right" style="color:#EB5E28;"></i> &nbsp;
                <h3 class="input-label" style="font-weight:bold; font-size:1.2em;">Ocupación</h3>
                <input type="text" ng-model="paciente.ocupacion" placeholder="Ocupación" style="padding-left:6%;">
              </label>
            </div>

        </div>
    </ion-content>
</ion-view>
