<ion-view view-title="Plan" ng-init="cargarPlanNutricional()">
    <ion-content ng-class="{expanded:isExpanded}">

        <div class="content text-center" style="padding:10% 1% 10% 1%;">
          <div class="text-center" >

        	<p class="text-center" style="padding:10% 10%; margin:0px;"> 
                <strong>Pulse</strong> sobre uno de los botones para <strong>visualizar</strong> o <strong>descargar</strong> su plan nutricional
            </p>

            <!-- Botón visualizar -->
            <div class="col-md-12 col-xs-12 col-sm-12 text-center" style="margin:1% 0% 7% 0%;">
                <div style="padding-left:20%;padding-right:20%;">
                    <a class="button theme-color-app"  
                       ng-click="verPlanVigente()"
                       ng-disabled="disableButtons" 
                       style="border:2px solid #fff; border-radius:30px; font-weight:bold; padding-left:20px; padding-right:20px;">
                       <i class="ion-eye"></i> &nbsp; 
                       <strong>Visualizar</strong> 
                    </a>
                </div>
            </div>

            <!-- Botón de descarga -->
            <div class="col-md-12 col-xs-12 col-sm-12 text-center" style="margin:1% 0% 7% 0%;">
                <div style="padding-left:20%;padding-right:20%;">
                    <a class="button theme-color-app" 
                       ng-click="descargarPlanVigente()" 
                       ng-disabled="disableButtons" 
                       style="border:2px solid #fff; border-radius:30px; font-weight:bold; padding-left:20px; padding-right:20px;">
                       <i class="ion-android-download"></i> &nbsp; 
                       <strong>Descargar</strong> 
                    </a>
                </div>
            </div>

            <!--
            <div ng-repeat="plan in planNutricional">
                <div class="" style="margin: 2px;">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <iframe ng-src="{{trustSrc(plan.documento)}}" id="preview" height="450" width="100%" frameborder="0" scrolling="auto" style="border: 1px solid black">    
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <a ng-href="{{plan.documento}}" download="yourFilename">Download</a>
                    </div>
                </div>
            </div>
            -->

            <!-- Visualizador PDF -->
            <script id="pdf-viewer.html" type="text/ng-template">
                <ion-modal-view>
                <ion-header-bar class="theme-color-app text-center">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                          <a ng-click="cerrarModal()" class="btn theme-color-app" style="padding-left:20px; padding-right:20px;">
                             <i class="ion-android-close" style="font-size:1.55em; color:#fff; font-weight:bolder;"></i>&nbsp; 
                          </a>
                        </div>
                    </div>
                </ion-header-bar>
                <ion-content>
                    <ng-pdf ng-if="pdfUrl" template-url="visualizadorPdf.html" canvasid="pdf" scale="page-fit"></ng-pdf>  
                </ion-content>
                </ion-modal-view>
            </script>


            <script id="visualizadorPdf.html" type="text/ng-template">
                <ion-content>
                    
                    <canvas id="pdf" class="rotate0"></canvas> 
                    <!--
                    <div class="col-lg-12 col-md-12 col-sm-12" style="margin:0px; padding:0px;">
                        <iframe ng-src="{{trustSrc(pdfUrl)}}" id="preview" height="500" width="100%" frameborder="0" scrolling="auto" style="border: 1px solid black; margin:0px; padding:0px;">    
                    </div>
                    -->
                </ion-content>
            </script>

          </div>
        </div>

    </ion-content>
</ion-view>
