<ion-view view-title="Plan">
    <ion-content ng-class="{expanded:isExpanded}">

        <div class="content text-center" style="padding:10px; padding-top:30px;">
          <div class="text-center" style="padding:10px;">
        	<h2 class="text-center dark"> Mi plan nutricional </h2>
        	<!-- <img src="img/plan.jpg" alt="Plan nutricional" style="width:100%"> -->
        	<br>
        	<br>
        	<p class="text-center" style="padding:5% 10%;"> De click en el siguiente botón para descargar su plan nutricional </p>

        	<!-- <button class="button button-outline icon-left ion-qr-scanner button-positive " ng-click="scanBarcode()" style="margin: 8%;height: 80px;">  Descargar plan </button> -->

        	 <a id="link2Download" class="button button-large theme-color-app" ng-click="descargarPlanVigente()"><i class="ion-android-download"></i> &nbsp;&nbsp;&nbsp; Descargar plan </a>
          </div>
        </div>

    </ion-content>
</ion-view>
