<ion-view view-title="Detalle de las calificaciones" ng-init="init()">
    <ion-content ng-class="{expanded:isExpanded}">

        <div class="content" style="padding:20px;">

            <div class="card">
                <div class="item item-text-wrap" style="padding-left:10px;">

                    <div class="item item-text-wrap">
                        <h2 class="text-center" style="margin-top:9px; margin-bottom:12px;"> 
                            <strong> {{viewData.materia}} </strong> 
                        </h2>
                        <hr style="color:#000">

                        <div style="width:100%; margin-bottom:8px;">
                            <h2> 
                                <strong>Deberes:</strong> 
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                {{viewData.deberes.total}}
                            </h2> 
                        </div>
                        <div ng-repeat="nota in viewData.deberes.detalle track by $index" style="padding-left:20px; width:100%;">
                            <h2 class=""> 
                                Deber {{$index+1}}: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{nota}} 
                            </h2>
                        </div>
                        <br>


                        <div style="width:100%; margin-bottom:8px;">
                            <h2> 
                                <strong>Lecciones:</strong> 
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                {{viewData.lecciones.total}}
                            </h2> 
                        </div>
                        <div ng-repeat="nota in viewData.lecciones.detalle track by $index" style="padding-left:20px; width:100%;">
                            <h2 class=""> 
                                Leccción {{$index+1}}: &nbsp;&nbsp;  {{nota}} 
                            </h2>
                        </div>
                        <br>

                        <div style="width:100%; margin-bottom:8px;">
                            <h2> 
                                <strong>Examen:</strong> 
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                {{viewData.examen}}
                            </h2> 
                        </div>
                        
                        <hr style="color:#000">

                        <div style="width:100%; margin-bottom:8px;">
                            <h2> 
                                <strong>Total:</strong> 
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                {{viewData.total}}
                            </h2> 
                        </div>
                        <br>
                    </div>

                </div>
            </div>

        </div>

    </ion-content>
</ion-view>
