<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-assertive-900" ng-class="{expanded: isExpanded, 'has-header-fab-left': hasHeaderFabLeft, 'has-header-fab-right': hasHeaderFabRight}" align-title="left">
            <ion-nav-back-button class="no-text">
            </ion-nav-back-button>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-navicon-round" menu-toggle="right">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="fabContent"></ion-nav-view>
        <ion-nav-view name="menuContent" ng-class="{expanded: isExpanded}" ></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="right">
        <ion-header-bar class="expanded" style="background: url(img/login.jpg) repeat-x center center;">
            <span class="avatar" style="background: url(img/alert1.png); background-size: cover; margin-top:40px;"></span>
            <h2 style="color:#fff;text-shadow: 0 1px 0px #000; font-size:1.3em; font-weight:bolder;">School Alert</h2>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header" style="padding-top:50px;">
            <ion-list>
                <ion-item nav-clear menu-close ui-sref="child.profile">
                    Perfil
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="child.tareas">
                    Tareas
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="child.calendario">
                    Calendario de eventos
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="child.horario">
                    Horario de clases
                </ion-item>
                <ion-item nav-clear menu-close ui-sref="child.calificaciones">
                    Calificacioness
                </ion-item>
                <ion-item nav-clear menu-close ng-click="cerrarSesion()">
                    Cerrar sesión...
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
